################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OrahiRestAPI/node_modules
/OrahiRestAPI/obj/*
/OrahiRestAPI/images/*
/OrahiRestAPI/l.git

